@import "tailwindcss";

:root {
  --background: #1e293b; /* slate-900 */
  --foreground: #f1f5f9; /* slate-100 */
  --accent: #f97316; /* orange-500 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--foreground);
}
